* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  display: flex;
  color: white;
  background-color: #FF6900;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 0 2px rgb(146, 146, 146);
  height: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
}

main p {
  font-size: 20px;
}

footer {
  width: 100%;
  display: flex;
  color: white;
  background-color: #1A1A1A;
  height: 150px;
  margin-top: 100px;
}

/* container */
.tl-menù {
  display: flex;
  align-items: center;
}

.t-menù {
  display: flex;
  align-items: center;
}

.t-menù img {
  width: 200px;
}

.tr-menù {
  display: flex;
  align-items: center;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.col-33 {
  width: 33%;
}

.card {
  position: relative;
  margin-top: 65px;
}

.card img {
  width: 650px;
  margin-bottom: 5px;
}


/* proprietà */
.front-image {
  display: block;
}

.back-image {
  display: none;
}

.card:hover .front-image {
  display: none;
}

.card:hover .back-image {
  display: block;
}




/* justify-content / align-items */
.justify-content-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

/* padding / margin */
.p-10 {
  padding: 10px;
}

.p-25 {
  padding: 25px;
}

.pr-5 {
  padding-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-150 {
  margin-top: 150px;
}

.mb-10 {
  margin-bottom: 10px;
}

/* background-color */
.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

/* positions */

.position-absolute {
  position: absolute;
}

.top-10 {
  top: 10px;
}

.right-10 {
  right: 10px;
}

.bottom-125 {
  bottom: 125px;
}

.left-60 {
  left: 60px;
}

/* sizes */
.size-40 {
  font-size: 40px;
}

.size-20 {
  font-size: 25px;
}

/* text-effects  */
.text-w {
  color: white;
}

.text-bold {
  font-weight: bolder;
}

.text-red {
  color: red;
}

.text-black {
  color: black;
}

.text-align-center {
  text-align: center;
}