* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  display: flex;
  color: white;
  background-color: #FF6900;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 0 2px rgb(146, 146, 146);
  height: 100px;
  position: fixed;
  z-index: 1;
}

/* container */
.tl-menù {
  display: flex;
  align-items: center;
}

.t-menù {
  display: flex;
  align-items: center;
}

.t-menù img {
  width: 200px;
}

.tr-menù {
  display: flex;
  align-items: center;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.col-33 {
  width: 33%;
}

.card {
  position: relative;
}

/* proprietà */
.front-image {
  display: block;
}

.back-image {
  display: none;
}


/* justify-content */
.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-around {
  justify-content: space-around;
}

/* padding/margin */
.p-10 {
  padding: 10px;
}
